<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="F:\UpWork\Christoph Braendle\Projects\IdentityServer4Blazor.Backup\DCx.Webshop\bin\Debug\netcoreapp3.1\DCx.Webshop.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>