@model string

@{
    ViewData["Title"] = "Success";
    Layout = "_LayoutRegister";
}

<div class="main">
    <div class="container">
        <form method="POST" class="appointment-form" id="appointment-form">
            <h2>You signed up succesfully!</h2>
            <div class="form-submit">
                <button type="submit" id="submit" class="submit" name="button" value="register">Login</button>
            </div>
        </form>
    </div>
</div>