<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/images/dcx-favicon-300.png">
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
</head>
<body class="blueClass">
    <div>
        @RenderBody()
    </div>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
