<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\DCx.svc.StsServer.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <ModSecurity enabled="false" configFile="C:\inetpub\wwwroot\modsecurity.conf"/>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 608dcb3f-9a12-4a52-9a36-10ecc1821220-->